{% extends 'store/main.html'%} {% load static %} {% block content %}
<div class="d-flex" style="display: flex">
  <div class="card" style="flex: 1; margin-right: 20px; width: 70%">
    <div
      class="rounded-top text-white d-flex flex-row"
      style="background-color: #000; height: 200px"
    >
      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
          alt="Generic placeholder image"
          class="img-fluid img-thumbnail mt-4 mb-2"
          style="width: 150px; z-index: 1"
        />
      </div>
      <div class="ms-3" style="margin-top: 130px">
        <h5>{{ customer.name }}</h5>
        <p>{{ customer.business_location }}</p>
      </div>
    </div>
    <div class="d-flex justify-content-between p-4 text-black bg-body-tertiary">
      <div class="d-flex justify-content-end text-center py-1 text-body">
        <div>
          <button class="btn btn-dark">Message</button>
        </div>
        <div class="px-3">
          <button class="btn btn-outline-dark">Custom Order</button>
        </div>
      </div>
      <div class="d-flex justify-content-end text-center py-1 text-body">
        <div>
          <p class="mb-1 h5">{{ customer.acct_type|capfirst }}</p>
          <p class="small text-muted mb-0">Account type</p>
        </div>
        <div class="px-3">
          <p class="mb-1 h5">{{ total_products }}</p>
          <p class="small text-muted mb-0">Products</p>
        </div>
      </div>
    </div>
    <div class="card-body p-4 text-black">
      <div class="mb-5 text-body">
        <p class="lead fw-normal mb-1">About Business:</p>
        <div class="p-4 bg-body-tertiary">
          <p class="font-italic mb-1">
            {{ customer.business_description|default:"No description" }}
          </p>
        </div>
      </div>
      <div
        class="d-flex justify-content-between align-items-center mb-4 text-body"
      >
        <p class="lead fw-normal mb-0">Recent products</p>
        <p class="mb-0">
          <a href="{% url 'show_all' 'products' %}" class="text-muted"
            >Show all</a
          >
        </p>
      </div>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for product in products %}
        <div class="col mb-2">
          <a href="{% url 'product_desc' product.id %}">
            <img
              class="thumbnail"
              src="{{product.imageURL}}"
              href="{% url 'product_desc' product.id %}"
          /></a>
          <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <h6>In stock: {{product.quantity}}</h6>
            <hr />
            <a
              data-product="{{product.id}}"
              data-qty="{{product.quantity}}"
              data-action="add"
              class="btn add-btn update-cart"
            >
              <img id="cart-icon" src="{% static 'images/add-to-cart.png' %}" />
            </a>

            <h6 style="display: inline-block; float: right">
              ${{product.price}}
            </h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
