{% extends 'store/main.html'%} {% load static %} {% block content %}
<div style="width: 100%; height: 100%">
  <form
    class="mx-auto p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {% if messages %}
    <div class="alert alert-primary" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="productName">Product name</label>
          <input
            type="text"
            name="product_name"
            class="form-control"
            id="product_name"
            placeholder="Product name"
            required
          />
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input
            type="text"
            name="desc"
            class="form-control"
            id="desc"
            placeholder="Description"
            required
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            name="price"
            class="form-control"
            id="price"
            placeholder="Price"
            required
          />
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input
            type="number"
            name="quantity"
            class="form-control"
            id="quantity"
            placeholder="Quantity"
            required
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            name="image"
            class="form-control"
            id="image"
            placeholder="image"
          />
        </div>
        <div class="form-group">
          <label for="productCategory">Category</label>
          <select
            name="product_category"
            class="form-control"
            id="product_category"
            required
          >
            <option value="" disabled selected>Select Category</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Grains">Grains</option>
            <option value="Dairy">Dairy</option>
            <option value="Meat">Meat</option>
            <option value="Poultry">Poultry</option>
            <option value="Seafood">Seafood</option>
            <option value="Nuts">Nuts</option>
            <option value="Seeds">Seeds</option>
          </select>
        </div>
        <img
          src="{% static 'images/placeholder.png' %}"
          class="img-thumbnail"
          alt="..."
        />
      </div>
    </div>
    <button type="submit" class="btn btn-dark">Upload</button>
  </form>
</div>

{% endblock content %}
